@green: #19b356;

.margenes(@top: 0px,@bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}
.jumbotron {
	background-color: @green;
    color:black; 
    .margenes(50px, 0px);
}
.footer {
	padding: 10px 10px 0 10px;
	background-color: @green,
	.margenes(50px, 0px);
}
.card-kingdom{
	flex: 1 200px;
	.margenes(10px, 0px);
}
.btn-conoce{
	width: 100%,
	border-radius 10px,
}
.footer-address-icon{
	padding-right: 10px; 
}
.tab-content{
	padding-top: 10px;
}