$green: #19b356;
.jumbotron {
	background-color: $green;
    color:black; 
    margin-top: 50px
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: $green,
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-kingdom{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}
.btn-conoce{
	width: 100%,
	border-radius 0px,
}
.footer-address-icon{
	padding.right: 10px: 
}
.tab-content{
	padding: 10px;
}